---
---
// Import default Primer theme (see: https://github.com/pages-themes/primer)
@import "{{ site.theme }}";

// Override link components using standard CSS variables
:root {
  --color-accent-fg: Gray;
  --color-fg-accent: Gray;
}

// Optional: Explicit anchor tag targeting to enforce it
a {
  color: Gray !important;
  
  &:hover {
    text-decoration: underline;
  }

}

